[submodule "include/callback_scheduler"]
	path = include/callback_scheduler
	url = https://github.com/CloudWolfYT/CW-Callback-Scheduler

[submodule "include/find_looking"]
	path = include/find_looking
	url = https://github.com/HalbFettKaese/FindLooking

[submodule "include/generate_uuid"]
	path = include/generate_uuid
	url = https://github.com/gibbsly/gu

[submodule "include/gibbsly_math"]
	path = include/gibbsly_math
	url = https://github.com/gibbsly/gm

[submodule "include/objmc-rs"]
	path = include/objmc-rs
	url = https://github.com/FabianHummel/objmc-rs
